body {
    background-color: black;
  }
  table {
    border: 1px solid white;
    border-radius: 4px;
    margin: 0 auto;
    width: 100%;
  }
  h1 {
    color: white;
  }
  td,
  th {
    text-align: center;
    vertical-align: middle;
    padding-left: 2px;
    padding-right: 2px;
    color: white;
  }
  
  th {
    border-bottom: 1px solid white;
  }
  
  thead,
  tbody,
  tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  
  tbody {
    display: block;
    overflow: auto;
  }
  
  img {
    width: 50px;
    height: 50px;
  }
  
  .sno {
    width: 35px;
  }
  